<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Animal Shelter{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</head>
<body>

<!--begin main template-->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Animal Shelter</a>
        </div>
            <ul class="nav navbar-nav">
                <!--<li role="presentation"><a href="#">Dashboard</a></li>-->
                <li role="presentation"><a href="/">Animals</a></li>
                <!--<li role="presentation"><a href="#">Customers</a></li>-->
                <li role="presentation"><a href="/types">Types</a></li>
            </ul>
    </div>
</nav>
<div class="container">

    {{#block "content"}}
    {{/block}}
</div>

{{#block "footer"}}
</body>
</html>
{{/block}}